<nav class="navbar navbar-toggleable-md navbar-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="primaryNav">
		<ul id="the_menu" class="navbar-nav mr-auto">
			<li id="menu-item-0" class="nav-item active"><a href="/" class="nav-link active">Home</a></li>
			<li id="menu-item-1" class="nav-item"><a href="/Research" class="nav-link">Research</a></li>
			<li id="menu-item-2" class="nav-item"><a href="/People" class="nav-link">People</a></li>
			<li id="menu-item-3" class="nav-item"><a href="/Publications" class="nav-link">Publications</a></li>
			<li id="menu-item-4" class="nav-item"><a href="/News" class="nav-link">News</a></li>
			<li id="menu-item-5" class="nav-item"><a href="/Press" class="nav-link">Press</a></li>
			<li id="menu-item-6" class="nav-item"><a href="/Social-Media" class="nav-link">Social-Media</a></li>
			<li id="menu-item-7" class="nav-item"><a href="/Opportunities" class="nav-link">Opportunities</a></li>
			<li id="menu-item-8" class="nav-item"><a href="/Contact" class="nav-link">Contact</a></li>
			<li id="menu-item-9" class="nav-item"><a href="/Location" class="nav-link">Location</a></li></ul>
			</div>
</nav>
<!--hello-->
