<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item home-text"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item home-text"><a class="nav-link" href="/Research">Research</a></li>
            <li class="nav-item home-text"><a class="nav-link" href="/People">People</a></li>
            <li class="nav-item home-text"><a class="nav-link" href="/Publications">Publications</a></li>
            <li class="nav-item home-text"><a class="nav-link" href="/News">News</a></li>
            <li class="nav-item home-text"><a class="nav-link" href="/Press">Press</a></li>
            <li class="nav-item home-text"><a class="nav-link" href="/Social-Media">Social-Media</a></li>
            <li class="nav-item home-text"><a class="nav-link" href="/Opportunities">Opportunities</a></li>
            <li class="nav-item home-text"><a class="nav-link" href="/Contact">Contact</a></li>
            <li class="nav-item home-text"><a class="nav-link" href="/Location">Location</a></li>
            <li class="nav-item"><a class="nav-link" href="http://www.ohlalab.github.io/News/atom.xml" target='_blank'><i class="fa fa-rss fa-1x" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</nav>
