<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="primaryNav">
		<ul id="menu-the_menu" class="navbar-nav mr-auto">
			<li id="menu-item-499" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-499 nav-item active"><a href="/" class="nav-link active">Home</a></li>
			<li id="menu-item-509" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-509 nav-item"><a href="/Research" class="nav-link">Research</a></li>
			<li id="menu-item-506" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-506 nav-item"><a href="/People" class="nav-link">People</a></li>
			<li id="menu-item-508" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-508 nav-item"><a href="/Publications" class="nav-link">Publications</a></li>
			<li id="menu-item-504" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-504 nav-item"><a href="/News" class="nav-link">News</a></li>
			<li id="menu-item-591" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-591 nav-item"><a href="/Press" class="nav-link">Press</a></li>
			<li id="menu-item-510" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-510 nav-item"><a href="/Social-Media" class="nav-link">Social-Media</a></li>
			<li id="menu-item-505" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-505 nav-item"><a href="/Opportunities" class="nav-link">Opportunities</a></li>
			<li id="menu-item-502" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-502 nav-item"><a href="/Contact" class="nav-link">Contact</a></li>
			<li id="menu-item-503" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-503 nav-item"><a href="/Location" class="nav-link">Location</a></li></ul>
			</div>
</nav>
<!--hello-->
